<?xml version="1.0"?>
<config>
    <modules>
        <InfiniteApps_FbFriendAuction>
            <version>0.0.1</version>
        </InfiniteApps_FbFriendAuction>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <infiniteapps_fbfriendauction before="Mage_Adminhtml">InfiniteApps_FbFriendAuction_Adminhtml</infiniteapps_fbfriendauction>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <infiniteapps_fbfriendauction>
                    <file>infiniteapps/fbfriendauction.xml</file>
                </infiniteapps_fbfriendauction>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <infiniteapps_fbfriendauction>
                <class>InfiniteApps_FbFriendAuction_Model</class>
            </infiniteapps_fbfriendauction>
        </models>
        <blocks>
            <infiniteapps_fbfriendauction>
                <class>InfiniteApps_FbFriendAuction_Block</class>
            </infiniteapps_fbfriendauction>
        </blocks>
        <helpers>
            <infiniteapps_fbfriendauction>
                <class>InfiniteApps_FbFriendAuction_Helper</class>
            </infiniteapps_fbfriendauction>
        </helpers>
        <resources>
            <infiniteapps_fbfriendauction_setup>
                <setup>
                    <module>InfiniteApps_FbFriendAuction</module>
                </setup>
            </infiniteapps_fbfriendauction_setup>
        </resources>
    </global>
</config>